@use "abstracts";
@use "components";
@use "layout";
@use "pages";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: abstracts.$light-grey;
  font-size: .8rem;
  @include abstracts.default-font;
  color: abstracts.$primary-dark;
}

a {
  text-decoration: none;
  color: abstracts.$primary-dark;
}

input[type = "text"] {
  color: lighten(abstracts.$primary-dark, 35%);
}

.page_title {
  margin: 1rem 1rem;
  font-weight: 500;
  color: lighten(abstracts.$primary-dark, 35%);
 // grid-column: 1 / 13;
}

.container {
  // padding: 5rem;
  // @include mixins.color-opacity(red, .3);
  //background-color: abstracts.$primary-dark;

  &--center {

  }
}