@use "../abstracts";
@use "../components";
@use "../layout";


.title{
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;

  &__sub{
    text-align: center;
    font-size: .8rem;
    margin: .5rem 0;
  }
}