@use "../abstracts";
@use "../components";

.container {
  width: 100%;
  height: 100vh;
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);

  &-xxl {
    max-width: 2024px;
    height: auto;
    margin: 0 auto;
    padding: .8rem;
  }

  &-xl {
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
    padding: .8rem;
  }


  //&__attendance, &__grade {
  // // grid-auto-rows: min-content;
  //}
  //
  //&__home {
  //  align-items: center;
  // // grid-template-rows: 1fr;
  // // grid-auto-rows: min-content;
  //}

}