/*
By Yannick Fumukani
copyright 2021
 */

@use "../abstracts";

.header {

  width: 100%;
 // height: 7rem;
  background-color: abstracts.$primary-color;
  color: abstracts.$light-grey;
  padding: 1.5rem;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;


  &__title {
   width: 100%;
    grid-column: 1 / 4;
  }

  & h2 {
    font-weight: 400;
    font-size: .9rem;
  }

  &__search {
    width: 100%;
    height: 1rem;
    grid-column: 4 / 9;
    padding: 2rem 0 2rem 5rem;
    background-color: white;
    @include abstracts.border-radius(4rem);
    display: grid;
    grid-template-columns: 90% 2rem;
    justify-content: center;
    align-content: center;

    & input {
      width: 100%;
      border: none;
      background-color: transparent;

      &:focus {
        border: none;
      }

      &::placeholder {
        color: abstracts.$secondary-dark;
        @include abstracts.default-font();
      }
    }

    & button {
      @include abstracts.border-radius(50%);
      width: 2rem;
      height: 2rem;
      border: none;
      cursor: pointer;
      color: abstracts.$primary-color;
     // margin-right: 18rem;

      @media (max-width: 1078px){
        & {
          display: none;
        }
      }

      transition: all 1s;

      &:hover{
        background-color: abstracts.$primary-color;
        color: abstracts.$light-grey;
      }

    }


  }


  // Right icons, name and icons
  &__right {
    display: grid;
    grid-template-columns: 4rem max-content 2rem;
    font-weight: 600;

    align-items: center;
    justify-items: end;

    grid-column: 10 / 13;

    &__photo {
      @include abstracts.border-radius-photo(3rem, 3rem);
      grid-column: 1 / 2;
      margin: 0 .8rem 0 0;
      border: solid 3px lighten(abstracts.$primary-color, 20%);
    }

    &__name {
      grid-column: 2 / 3;
    }

    &__menu {
      grid-column: 3 / 4;
      font-size: 1.1rem;
      font-weight: 600;
    }

  }


  @media (max-width: 620px){

    & {
      //  grid-template-columns:  1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      //grid-auto-rows: min-content;
      height: 25rem;
      align-items: center;
      justify-items: center;
    }

    &__title {
      width: 100%;
      grid-row: 2 / 3;
      justify-self: center;
      grid-column: 1 / -2;
      text-align: center;
    }

    &__search {
      width: 100%;
      height: 3rem;
      grid-row: 3 / 4;
      grid-column: 2 / 12;
    }

    &__right {
      grid-row: 1 / 2;
      grid-column: 1 / 13;
      margin: 2rem 1rem;
    }


  }

}