
/*
By Yannick Fumukani
copyright 2021
 */


// contains the entire page in it

@use "../abstracts";
@use "../components";


.wrapper-page {

  width: 100%;
  height: 100vh;

  &--default {

  }

  &--centered {
    display: grid;
    align-items: center;
    // justify-items: center;
  }

  &--sign-in {
    background-image: linear-gradient(
                    rgba(abstracts.$primary-dark, .9) 0%,
                    rgba(abstracts.$primary-dark, .9) 50%),
    url("https://images.unsplash.com/photo-1553028826-f4804a6dba3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");

    background-size: cover;
    background-repeat: no-repeat;
    background-color: abstracts.$primary-color;
    background-position: center center;

    display: grid;
    align-items: center;
    justify-items: center;
  }


}