@use "../abstracts";

/*
Table template v.1
By Yannick Fumukani
copyright 2021
 */

.table {

 // margin: 3rem 3rem;
  width: 100%;
  box-shadow: 0 1px 3px rgba(abstracts.$primary-dark, .2);
  height: fit-content;
  grid-column: 1 / 13;

  @include abstracts.border-radius(.3rem);
  overflow: hidden;
  border-collapse: collapse;

  & thead, & th {

    color: abstracts.$light-grey;
    background-color: lighten(abstracts.$primary-dark, 25%); //lighten(#343a40, 33%);
    text-align: left;
    padding: .8rem;
    font-weight: 600;

  }

  &__active td {
    background-color: abstracts.$primary-dark;
    color: abstracts.$light-grey;
  }


  & th td thead {
    padding: .5rem;
  }

  & tr {
    background: #fff;
    border-bottom: solid .5px #e5e3e3;

    &:last-child {
      border: none;
    }

    &:nth-of-type(odd) {
      background: abstracts.$light-grey;
    }

  }

  &__photo {
    margin: .4rem;
    @include abstracts.border-radius-photo(2rem, 2rem);
  }

  // media query for the table responsiveness
  @media (max-width: 554px) {

    & {
      margin: .6rem .5rem;
    }

    & tbody tr td {
      width: 100%;
      display: block;
      text-align: right;
    }

    & td {
      padding: .5rem 0;
      display: block;
      position: relative;
      right: 50%;
      left: -10%;

      &:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        width: 50%;
        padding: 0 0 0 1.5rem;
        font-weight: 900;
      }

      &[data-title] {
        color: abstracts.$primary-dark;
      }

    }

    &__photo {
     // margin: .4rem;
      @include abstracts.border-radius-photo(3rem, 3rem);
    }


    & thead {
      display: none;
    }

    & tr {
      margin: 1rem;
    }

  }

}

