
$primary-color: #2980ef;

$primary-dark: #343a40;
$secondary-dark: #212529;

$primary-white: #fff;
$light-grey: #eef1f4;

$black: #030301;

$primary-yellow: #ff9e00;
$secondary-yellow: #ff8500;

$primary-green: #a1c349;
$secondary-green: #3ca650;

$primary-red: #d94430; // #d00000;
$secondary-red: #ae2012;
