$small: 1.5rem;
$medium: 2.5rem;
$large: 3.5rem;

.margin-vertical--x {
  margin: 1rem 0 ;
}

.margin-vertical--xx {
  margin: 1.5rem 0 ;
}

.margin-horizontal--x {
  margin: 0 1rem;
}

.margin-horizontal--xx {
  margin: 0 1.5rem;
}