
@mixin color-opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}

// Medium devices
@mixin medium-device {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin large-device {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin border-radius ($border: .5rem) {
    border-radius: #{$border};
}

// Round image borders
@mixin border-radius-photo ($width : 5rem, $height : 5rem) {
  width: $width;
  height: $height;

  border-radius: calc(#{$width} / 2);
  -moz-border-radius: calc(#{$width} / 2);
  -webkit-border-radius: calc(#{$width} / 2);
}

@mixin default-font(){
  font-family: 'Montserrat', sans-serif;
}