@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Small (sm) */
/* Medium (md) */
/* Large (lg) */
/* Extra Large (xl) */
/* Two Extra Large (xxl) */
.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 100%;
  border: none;
  padding: 0.9rem 0.8rem;
  font-weight: 500;
  background-color: #2980ef;
  margin: 0.3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  transition: all 0.5s;
}
.button:hover {
  cursor: pointer;
  border: none;
  background-color: #343a40;
}
.button--opaque {
  border: solid 1px #2980ef;
  background-color: transparent;
  color: #2980ef;
}
.button--opaque:hover {
  cursor: pointer;
  border: solid 1px #2980ef;
  color: #fff;
  background-color: #2980ef;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}
.form__link {
  text-align: center;
  margin: 0.5rem 0;
  display: block;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border: solid 1px #999;
  color: #343a40;
  margin: 0.3rem 0.2rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.1rem;
}
.input::placeholder {
  color: #aaa;
}
.input:focus {
  border: solid 1px #343a40;
  color: #343a40;
}

.table {
  margin: 3rem 3rem;
  width: 100%;
  box-shadow: 0 1px 3px rgba(52, 58, 64, 0.2);
  height: fit-content;
  border-radius: 0.4rem;
  overflow: hidden;
  border-collapse: collapse;
}
.table thead, .table th {
  color: #eef1f4;
  background-color: #343a40;
  text-align: left;
  padding: 0.8rem;
  font-weight: 600;
}
.table__active td {
  background-color: #343a40;
  color: #eef1f4;
}
.table th td thead {
  padding: 0.5rem;
}
.table tr {
  background: #fff;
  border-bottom: solid 0.5px #e5e3e3;
}
.table tr:last-child {
  border: none;
}
.table tr:nth-of-type(odd) {
  background: #eef1f4;
}
.table__photo {
  margin: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: calc(2rem / 2);
  -moz-border-radius: calc(2rem / 2);
  -webkit-border-radius: calc(2rem / 2);
}
@media screen and (max-width: 780px) {
  .table tbody tr td {
    width: 100%;
    display: block;
    text-align: right;
  }
  .table td {
    padding: 0.5rem 0;
    display: block;
    position: relative;
    right: 50%;
    left: -10%;
  }
  .table td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding: 0 0 0 1.5rem;
    font-weight: 900;
  }
  .table td[data-title] {
    color: #343a40;
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin: 1rem;
  }
}

.center {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: linear-gradient(rgba(52, 58, 64, 0.9) 0%, rgba(52, 58, 64, 0.9) 50%), url("https://images.unsplash.com/photo-1553028826-f4804a6dba3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2980ef;
  background-position: center center;
}
.container__sign-in {
  align-self: center;
  justify-self: center;
  width: 25rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
.title__sub {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eef1f4;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #343a40;
}

/*# sourceMappingURL=main.css.map */
