@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Small (sm) */
/* Medium (md) */
/* Large (lg) */
/* Extra Large (xl) */
/* Two Extra Large (xxl) */
.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*
By Yannick Fumukani
copyright 2021
 */
.heading {
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  font-weight: 500;
}
.heading--xxxl {
  font-size: 2rem;
}
.heading--xxl {
  font-size: 1.8rem;
}
.heading--xl {
  font-size: 1.5rem;
}

/*
By Yannick Fumukani
copyright 2021
 */
.button {
  width: 100%;
  border: none;
  padding: 0.9rem 0.8rem;
  font-weight: 500;
  background-color: #2980ef;
  margin: 0.3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  transition: all 0.5s;
}
.button:hover {
  cursor: pointer;
  border: none;
  background-color: #0e5bbd;
}
.button--opaque {
  border: solid 1px #2980ef;
  background-color: transparent;
  color: #2980ef;
}
.button--opaque:hover {
  cursor: pointer;
  border: solid 1px #2980ef;
  color: #fff;
  background-color: #2980ef;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}
.form__link {
  text-align: center;
  margin: 0.5rem 0;
  display: block;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border: solid 1px #999;
  color: #343a40;
  margin: 0.3rem 0.2rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.1rem;
}
.input::placeholder {
  color: #aaa;
}
.input:focus {
  border: solid 1px #343a40;
  color: #343a40;
}

/*
Table template v.1
By Yannick Fumukani
copyright 2021
 */
.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(52, 58, 64, 0.2);
  height: fit-content;
  grid-column: 1/13;
  border-radius: 0.3rem;
  overflow: hidden;
  border-collapse: collapse;
}
.table thead, .table th {
  color: #eef1f4;
  background-color: #6d7a86;
  text-align: left;
  padding: 0.8rem;
  font-weight: 600;
}
.table__active td {
  background-color: #343a40;
  color: #eef1f4;
}
.table th td thead {
  padding: 0.5rem;
}
.table tr {
  background: #fff;
  border-bottom: solid 0.5px #e5e3e3;
}
.table tr:last-child {
  border: none;
}
.table tr:nth-of-type(odd) {
  background: #eef1f4;
}
.table__photo {
  margin: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: calc(2rem / 2);
  -moz-border-radius: calc(2rem / 2);
  -webkit-border-radius: calc(2rem / 2);
}
@media (max-width: 554px) {
  .table {
    margin: 0.6rem 0.5rem;
  }
  .table tbody tr td {
    width: 100%;
    display: block;
    text-align: right;
  }
  .table td {
    padding: 0.5rem 0;
    display: block;
    position: relative;
    right: 50%;
    left: -10%;
  }
  .table td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding: 0 0 0 1.5rem;
    font-weight: 900;
  }
  .table td[data-title] {
    color: #343a40;
  }
  .table__photo {
    width: 3rem;
    height: 3rem;
    border-radius: calc(3rem / 2);
    -moz-border-radius: calc(3rem / 2);
    -webkit-border-radius: calc(3rem / 2);
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin: 1rem;
  }
}

/*
By Yannick Fumukani
copyright 2021
 */
.card {
  display: grid;
  color: #eef1f4;
  background-color: #6d7a86;
  padding: 1.2rem;
  width: 20rem;
  height: min-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  grid-template-columns: 1fr;
  transition: all 0.5s;
}
.card:hover {
  background-color: #2980ef;
  cursor: pointer;
}
.card:hover > .card__logo i {
  color: #2980ef;
}
.card:hover > .card__logo {
  transition: all 0.8s;
  background-color: white;
}
.card__logo {
  background-color: #a5a9ac;
  width: 5rem;
  height: 5rem;
  border-radius: calc(5rem / 2);
  -moz-border-radius: calc(5rem / 2);
  -webkit-border-radius: calc(5rem / 2);
  grid-column: 1/2;
  justify-self: center;
  margin: 0.2rem;
  display: grid;
}
.card__logo i {
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  color: #343a40;
}
.card__sub__title {
  font-weight: 500;
}
.card__sub__description {
  font-weight: 200;
}
.card__title {
  font-weight: 400;
}

/*
Container template v.1
By Yannick Fumukani
copyright 2021
 */
.container {
  width: 100%;
  height: 100vh;
}
.container-xxxl {
  max-width: 2024px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}
.container-xxl {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}
.container-xl {
  max-width: 1080px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}
.container-x {
  max-width: 992px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}
.container-xx {
  max-width: 768px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}
.container-xx {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}

.wrapper__sml-centered {
  width: 25rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
@media (max-width: 426px) {
  .wrapper__sml-centered {
    width: 100%;
    height: 100%;
    margin: 0 1rem;
    padding: 1rem;
    display: grid;
    align-content: center;
  }
}
.wrapper__grid--autofit {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--12 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--8 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--4 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--3 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--2 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}
.wrapper__grid--1 {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  justify-items: center;
}

/*
By Yannick Fumukani
copyright 2021
 */
.header {
  width: 100%;
  background-color: #2980ef;
  color: #eef1f4;
  padding: 1.5rem;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
}
.header__title {
  width: 100%;
  grid-column: 1/4;
}
.header h2 {
  font-weight: 400;
  font-size: 0.9rem;
}
.header__search {
  width: 100%;
  height: 1rem;
  grid-column: 4/9;
  padding: 2rem 0 2rem 5rem;
  background-color: white;
  border-radius: 4rem;
  display: grid;
  grid-template-columns: 90% 2rem;
  justify-content: center;
  align-content: center;
}
.header__search input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.header__search input:focus {
  border: none;
}
.header__search input::placeholder {
  color: #212529;
  font-family: "Montserrat", sans-serif;
}
.header__search button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  color: #2980ef;
  transition: all 1s;
}
@media (max-width: 1078px) {
  .header__search button {
    display: none;
  }
}
.header__search button:hover {
  background-color: #2980ef;
  color: #eef1f4;
}
.header__right {
  display: grid;
  grid-template-columns: 4rem max-content 2rem;
  font-weight: 600;
  align-items: center;
  justify-items: end;
  grid-column: 10/13;
}
.header__right__photo {
  width: 3rem;
  height: 3rem;
  border-radius: calc(3rem / 2);
  -moz-border-radius: calc(3rem / 2);
  -webkit-border-radius: calc(3rem / 2);
  grid-column: 1/2;
  margin: 0 0.8rem 0 0;
  border: solid 3px #88b8f6;
}
.header__right__name {
  grid-column: 2/3;
}
.header__right__menu {
  grid-column: 3/4;
  font-size: 1.1rem;
  font-weight: 600;
}
@media (max-width: 620px) {
  .header {
    grid-template-rows: repeat(3, 1fr);
    height: 25rem;
    align-items: center;
    justify-items: center;
  }
  .header__title {
    width: 100%;
    grid-row: 2/3;
    justify-self: center;
    grid-column: 1/-2;
    text-align: center;
  }
  .header__search {
    width: 100%;
    height: 3rem;
    grid-row: 3/4;
    grid-column: 2/12;
  }
  .header__right {
    grid-row: 1/2;
    grid-column: 1/13;
    margin: 2rem 1rem;
  }
}

/*
Section template v.1
By Yannick Fumukani
copyright 2021
 */
.section {
  max-width: 100%;
}

.centered-layout {
  transform: translate(50%, 50%);
}

/*
By Yannick Fumukani
copyright 2021
 */
.wrapper-page {
  width: 100%;
  height: 100vh;
}
.wrapper-page--centered {
  display: grid;
  align-items: center;
}
.wrapper-page--sign-in {
  background-image: linear-gradient(rgba(52, 58, 64, 0.9) 0%, rgba(52, 58, 64, 0.9) 50%), url("https://images.unsplash.com/photo-1553028826-f4804a6dba3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2980ef;
  background-position: center center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
.title__sub {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eef1f4;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #343a40;
}

a {
  text-decoration: none;
  color: #343a40;
}

input[type=text] {
  color: #88939e;
}

.page_title {
  margin: 1rem 1rem;
  font-weight: 500;
  color: #88939e;
}

/*# sourceMappingURL=main.css.map */
